<h3>Hi {{currentUser.username}} ({{currentUser.email}}),</h3>
<p>Your interviewer prepared an online video interview for you:</p>
<p>{{currentUser.title}}</p>
<p>You need to complete it before <strong>{{currentUser.expiry | date }}, {{ currentUser.expiry | date:'shortTime' }}</strong></p>


<!-- <h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->


