<h3 style="margin-top: 20px;">Sveiki {{currentUser.username}} ({{currentUser.email}})</h3>
<hr class="hr-primary" />
<div class="container">
    <p>Jums yra paruoštas online interviu: <strong>{{application.title}}</strong></p>
    <p>Jis susideda iš <strong>{{application.numberOfQuestions}}</strong> klausimų ir Jūs turėsite 
        <strong>{{application.interviewDuration}}</strong> minučių jam atlikti.</p>

    <p>Intervių turite užbaigti iki <strong>{{application.expiration | date : 'yyyy-MM-dd'}},
            {{ application.expiration | date : 'H:mm'}}</strong>. Vėliau jis taps nebeprieinamas.</p>

</div>
<hr class="hr-primary" />
<div class="container">
    <p>Prieš pradedant mes rekomenduojame Jums ištestuoti Jūsų kompiuterio vaizdo ir garso įrašymo kokybę.</p>
    <button type="button" class="btn btn-primary" (click)="testRecording()">Ištestuoti įrašymą</button>
</div>

<hr class="hr-primary" />
<div class="container">    
    <p>Turėkite omenyje kad pradėjus intervių jis negalės būti sustabdytas ar atšauktas, todėl įsitikinkite, kad galite užbaigti jį vienu kartu.</p>
    <p>Norint pradėti intervių paspauskite žemiau esantį mygtuką.</p>
    <button type="button" class="btn btn-success" (click)="startInterview()">Pradėti interviu</button>
</div>