<h3>Hi {{currentUser.username}} ({{currentUser.email}}),</h3>
<p>Your interviewer prepared an online interview for you: <strong>{{application.title}}</strong></p>
<p>It consists of {{application.numberOfQuestions}} questions and you will have {{application.interviewDuration}} minutes to complete.</p>
<p>Before you start, make sure you can finish the interview in one go. When started the interview cannot be paused or canceled</p>

<p>Also be aware that this interview expires on <strong>{{application.expiration | date }}, {{ application.expiration | date:'shortTime' }}</strong> and won't be available afer</p>

<button  md-raised-button color="primary" (click)="startInterview()">Start the interview</button>  

<!-- <h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->


