
<div class="row">
  <div class="col text-center">
    <h3 style="margin-bottom:5px; margin-top:10px">Ištestuokite Jūsų kompiuterio Kamerą ir Mikrofoną</h3>
  </div>
</div>

<div class="row" *ngIf="recordingState == true">
  <div class="col text-center">
    <video #video class="video"></video>
  </div>
</div>

<div class="row" *ngIf="recordingState == true">
  <div class="col text-center">
    <button *ngIf="!recordButtonDisabled" [disabled]="recordButtonDisabled" type="button" class="btn btn-primary" (click)="startRecording()"> Pradėti įrašymo testą
    </button>
    <p *ngIf="!sendButtonDisabled">Vyksta įrašymas. Ištarkite keletą žodžių Jūsų normaliu balsu.</p>
    <button *ngIf="!sendButtonDisabled" [disabled]="sendButtonDisabled" type="button" class="btn btn-primary" (click)="stopRecordingAndSend()">Sustabdyti ir Groti</button>
  </div>
</div>

<div class="row" *ngIf="!recordingState">
  <div class="col text-center">
    <video #myVideo controls autoplay class="video" source src="{{url}}" type="video/webm" poster={{urlBackgroundImage}}
      width="100%">
      Jūsų naršyklė nėra palaikoma. Turite naudoti Chrome (https://www.google.com/chrome/)
    </video>

  </div>
</div>
<div class="row" *ngIf="!recordingState">
  <div class="col text-center">
    <p>Įsitikinkite kad Jūsų veidas gerai matomas ir balsas gerai girdymas.</p>
    <button type="button" class="btn btn-warning" (click)="enableRecordingState()" style="margin-right:10px"> Ištestuoti dar kartą </button>
    <button type="button" class="btn btn-success" (click)="completeTest()"> Užbaigti testą </button>
    <!-- <p *ngIf="videoName != null"><em>Playing: {{ videoName }}</em></p> -->
  </div>
</div>