<br>
<div>
  <input [(ngModel)]="interviewTemplate.name" (focusout)="updateInterview()" class="form-control form-control-lg"
    placeholder="Įveskite interviu pavadinimą...">
</div>
<br>
<ul class="list-unstyled">
  <li *ngFor="let question of questions; let i = index">
    <div>
      <textarea [(ngModel)]="question.text" rows="2" style="min-width: 100%" placeholder="Įveskite klausimą..."
        (focusout)="updateQuestion(question)">
      </textarea>
    </div>
    <div class="horizontal">
      <div class="left">
        <span>Trukmė (minutėmis): </span>
        <select [(ngModel)]="question.duration" (focusout)="updateQuestion(question)">
          <option *ngFor="let duration of durations" [ngValue]="duration">{{duration}}</option>
        </select>
      </div>

      <div class="center">
        <button *ngIf="i > 0" class="btn btn-outline-primary btn-sm" (click)="up(i)">&#9650;</button>
        <button *ngIf="i < questions.length - 1" class="btn btn-outline-primary btn-sm"
          (click)="down(i)">&#9660;</button>
      </div>

      <div class="right">
        <button class="btn btn-danger btn-sm" (click)="deleteQuestion(question.id)">Delete</button>
      </div>
    </div>
  </li>
</ul>
<div>
  <button (click)="addQuestion()" class="btn btn-success btn-lg1" type="button" style="margin-right:10px">Pridėti naują
    klausimą</button>
  <button (click)="refreshQuestions()" class="btn btn-primary btn-lg1" type="button">Atnaujinti</button>
</div>