version: 2

workflows:
  version: 2
  build:
    jobs:
      - webapi
      
jobs:
  webapi:
    docker:
      - image: microsoft/dotnet:latest
    steps:
      - checkout
      - run: 
            name: Restore dependencies
            command: dotnet restore
      - run: 
            name: Build the WebAPI project
            command: cd WebApi && dotnet build --configuration Release --runtime linux-x64
      - run: 
            name: Build the WebAPI.Test project
            command: cd WebApi.Test && dotnet build
