version: 2

workflows:
  version: 2
  build:
    jobs:
      - webapi
      
jobs:
  webapi:
    working_directory: ~/WebApi
    docker:
      - image: microsoft/dotnet:latest
    steps:
      - checkout
      - run: 
            name: Restore dependencies
            command: dotnet restore
      - run: 
            name: Build the projectdotnet
            command: dotnet build
