<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/videos">Videos</a>
    <a class="nav-item nav-link" routerLink="/interviewtemplate">Tempaltes</a>
    <a class="nav-item nav-link" routerLink="/interview">Interviews</a>
    <a class="nav-item nav-link" routerLink="/record-rtc">Record</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->

<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer">
<div class="text-center">
    <p>
      Darbo Interviu
    </p>
</div>
</footer>

