


<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p>Current count: <strong>{{ currentCount }}</strong></p>

<button (click)="incrementCounter()">Increment</button>


<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <h3>
        <video #videoElement ></video>
      </h3>
    </div>
  </div>
</div>

<div class="row text-center">
  <button (click)="start()" class="btn btn-primary">Record without Sound</button>
  <button (click)="sound()" class="btn btn-danger">Play with Sound</button>
  <button (click)="pause()" class="btn btn-warning">Pause</button>
  <button (click)="resume()" class="btn btn-info">Resume</button>
</div>

<div class="row text-center">
  <button (click)="toggleControls()" class="btn btn-success">Toggle Controls</button>
</div>
