@{
    ViewData["Title"] = "Darbo Interviu";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
    body, html {
        background-color: whitesmoke;
    }

    .btn-xlarge {
        padding: 18px 28px;
        font-size: 25px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        text-align: center;
        display: inline-block;
        background: #ff9900; /**/
    }

        .btn-xlarge:hover {
            background: #ffAA22; /**/
        }

    .btn-normal {
        padding: 8px 14px;
        font-size: 15px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        text-align: center;
        display: inline-block;
        background: #ff9900; /**/
    }

        .btn-normal:hover {
            background: #ffAA22; /**/
        }

    .boxCenterNumber {
        height: 120px;
        width: 200px;
        border-radius: 5%;
        background-color: whitesmoke;
        border: 2px solid black;
        font-size: 25px;
        text-align: center;
        padding: 0 20px;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
    }

    .title-background {
        background-color: #073281;
    }

    .title-colour {
        color: #ffffff;
    }

    .footer-background {
        background-color: #073281;
    }

    .footer-colour {
        color: #ffffff;
    }



    #wrap {
        /*margin-top: 20vh;
        margin-bottom: 20vh;*/
        padding-top: 16vh;
        padding-bottom: 20vh;
    }


    .fsize {
        font-size: 20px;
    }


    .register {
        display: inline-block;
        float: left;
    }

    .list-group li {
        border: 0 none;
        background-color: whitesmoke;
    }

    .logo > img, .logo > h2 {
        display: inline-block;
    }

    .img-valign {
        vertical-align: middle;
        margin-bottom: 1em;
        margin-left: 1em;
    }





    .frontpage {
        background: url(Images/frontpage1.jpg);
        z-index: 0;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
</style>

<body class="frontpage">
    <div>

        <div style="position:absolute;z-index:3;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.3);"></div>

        <div class="row" style="position:relative;z-index:4;color:#fff">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 text-left logo">
                        <h2 class="title-colour" style="margin-left:0.5em">Online Interviu platform</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="position:relative;z-index:4;color:#fff">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 text-left">
                    </div>
                    <div class="col-md-2 text-center">
                        <p style="color:white"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="position:relative;z-index:4;color:#fff">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-8" id="wrap">
                        <div class="col-md-6 text-center">

                            <input type="button"
                                   class="btn btn-warning btn-xlarge"
                                   value="Candidate"
                                   onclick="@("window.location.href='" + @Url.Action("Index", "Candidate") + "'");">

                            @*<div class="fsize" style="margin-top:1em">
                                    Advertise a job and find the right person for you.
                                </div>*@

                        </div>

                        <div class="col-md-6 text-center">

                            <input type="button"
                                   class="btn btn-warning btn-xlarge"
                                   value="Employer"
                                   onclick="@("window.location.href='" + @Url.Action("Index", "Employer") + "'");">

                            @*<div class="fsize" style="margin-top:1em">
                                    Search for the jobs and share your skills with people.
                                </div>*@
                        </div>

                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h4 style="margin-top:2em">How it works?</h4>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-2 col-md-offset-1 text-center">
                <h4 class="howitworks">Post a job</h4>
                Deifine a skill you search, location and when you need it.
            </div>
            <div class="col-md-2 text-center">
                <h4 class="howitworks">Apply</h4>
                Apply for a job that matches your skills, location and availability.
            </div>
            <div class="col-md-2 text-center">
                <h4 class="howitworks">Offer</h4>
                Choose the best applicant for the job and make an offer.
            </div>
            <div class="col-md-2 text-center">
                <h4 class="howitworks">Work</h4>
                Commit to the offer and deliver great work on time.
            </div>
            <div class="col-md-2 text-center">
                <h4 class="howitworks">Feedback</h4>
                Evaluate the quality of the completed work and leave a feedback.
            </div>
        </div>
    </div>
          -->
    <div calss="row">
        <div class="col-md-12">
            <h4>Darbo Interviu</h4>
        </div>
    </div>
</body>

