<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center col-12" id="modal-basic-title">"{{currentInterview.title}}"</h4>
  </div>

  <div class="modal-body">
    <form novalidate>
      <div class="form-group">
        <label for="email">Partnerio elektroninis pašto adresas:</label>
        <div class="input-group">
          <input id="email" [(ngModel)]="newShare.email" email class="form-control"
            placeholder="Įveskite elektroninį paštą" name="email" required>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="issent">
    <div class="alert alert-success text-center" role="alert">
      Jus sėkmingai pasidalinote šiuo interviu.
    </div>
  </div>
  <div class="modal-footer ">



    <button *ngIf="!issent" type="button" class="btn btn-outline-primary" (click)="shareInterview()" placement="bottom"
      ngbTooltip="Elektroninis laiškas bus nusiųstas kandidatui" style="margin-right:5px">Suteikti priėjimą</button>
    <button *ngIf="!issent" type="button" class="btn btn-outline-primary" (click)="modal.dismiss('Cancel click')"
      style="margin-right:5px">Nutraukti</button>
    <button *ngIf="issent" type="button" class="btn btn-outline-primary" (click)="modal.close('Close click')"
      style="float:center;">Uždaryti</button>

  </div>

</ng-template>

<!--This is shown in the interview.component.html-->
<button class="btn btn-sm btn-outline-primary" (click)="open(content)" data-toggle="tooltip" data-placement="top" title="Suteikti priėjimą prie šio intervių kitam asmeniui">Dalintis</button>
<!-- <pre>{{closeResult}}</pre> -->