<div class="container">
  <h3>Sveiki {{currentUser.firstName}}</h3>
  <br>
  <form>
    <div class="form-group row">
      <label for="user-email" class="col-2 col-form-label">Vartotojo vardas:</label>
      <div class="col-10">
        <p class="form-control-static"> {{currentUser.username}}</p>
      </div>
    </div>
    <div class="form-group row">
      <label for="first-name" class="col-2 col-form-label">Vardas:</label>
      <div class="col-3">
        <input class="form-control" type="text" value="{{currentUser.firstName}}" id="first-name">
      </div>
    </div>
    <div class="form-group row">
      <label for="last-name" class="col-2 col-form-label">Pavardė:</label>
      <div class="col-3">
        <input class="form-control" type="text" value="{{currentUser.lastName}}" id="last-name">
      </div>
    </div>
  </form>
</div>