<br>
<h3>Active Interviews:</h3>
<br>
<div class="container">

  <div class="row" *ngIf="interviews.length">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th> Interview Title </th>
          <th> Candidate Name </th>
          <th> Candidate Email </th>
          <th> Candidate Secret </th>
          <th> Expires on </th>
          <th> Status </th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let interview of interviews">
          <td> {{interview.title}}</td>
          <td> {{interview.candidateName}}</td>
          <td> {{interview.candidateEmail}}</td>
          <td> {{interview.candidateSecret}}</td>
          <td> {{interview.expiration | date:'yyyy-MM-dd HH:mm'}}</td>
          <td> {{interview.status}}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="editInterview(interview)" style="margin-right:5px">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="deleteInterview(interview.id)" style="margin-right:5px">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button (click)="refreshInterviews(currentUser.id)" *ngIf="interviews.length" class="btn btn-primary btn-lg1" type="button">Refresh</button>
  </div>
</div>