<br>
<h3>Interviu:</h3>
<br>
<div class="container">

  <div class="row" *ngIf="interviews.length == 0">
    <p>Jus dar nesate išsiuntę interviu.</p>
  </div>

  <div class="row" *ngIf="interviews.length == 0">
    <button routerLink="/interviewtemplate" class="btn btn-primary" type="button">Siųsti Interviu</button>
  </div>

  <div class="row" *ngIf="interviews.length">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th> Interviu Pavadinimas </th>
          <th> Kandidato Vardas </th>
          <th> Kandidato Email </th>
          <th> Kandidato Slaptažodis </th>
          <th> Galioja iki </th>
          <th> Statusas </th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let interview of interviews">
          <td> {{interview.title}}</td>
          <td> {{interview.candidateName}}</td>
          <td> {{interview.candidateEmail}}</td>
          <td> {{interview.candidateSecret}}</td>
          <td> {{interview.expiration | date:'yyyy-MM-dd HH:mm'}}</td>
          <td> {{interview.status}}</td>
          <td>
            <button [disabled]="isButtonDisabled(interview.status)" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Tooltip on top"
              (click)="reviewInterview(interview)" style="margin-right:5px">Peržiūrėti</button>
            <interviewshare [interview]="interview"></interviewshare>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button (click)="refreshInterviews(currentUser.id)" *ngIf="interviews.length" class="btn btn-primary btn-lg1"
      type="button">Atnaujinti duomenis</button>
  </div>
</div>