<br>
<h3>My Interiews:</h3>
<br>
<div class="container">

  <div class="row">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th> Interview Title </th>
          <th> Creation Date </th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let interview of interviews">
          <td> {{interview.name}}</td>
          <td> {{interview.timestamp}}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="selectedInterview(interview)" style="margin-right:5px">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="deleteInterview(interview.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button (click)="addFieldValue()" class="btn btn-success btn-lg1" type="button" style="margin-right:10px">Add</button>
    <button (click)="onEditCloseItems()" class="btn btn-primary btn-lg1" type="button">Refresh</button>
  </div>
</div>