
<p *ngIf="!videos"><em>Loading...</em></p>

<div class="row">
  <strong> "{{interview.title}}" </strong> interview completed by <strong> {{interview.candidateName}} ({{interview.candidateEmail}})</strong>
</div>

<div class="row"> 
    <button *ngFor="let video of videos" type="button" class="btn btn-info btn-circle" (click)="showQuestion(video.videoId)"> {{video.videoId}} </button>
</div> 

<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4 bg-silver">

    <div>
      {{activeQuestion}}
    </div>

  </div>
  <div class="col-sm-1 col-md-1 col-lg-1">
  </div>
  <div class="col-sm-7 col-md-7 col-lg-7 bg-silver">

    <div class="centerBlock">
      <video #myVideo controls autoplay>
        <source src="{{url}}" type="video/webm" />
        Browser not supported
      </video>

      <p *ngIf="videoName != null"><em>Playing: {{ videoName }}</em></p>
    </div>
  </div>
</div>
