<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Interviu</a>
    <!--
    <a class="nav-item nav-link" routerLink="/record-rtc" routerLinkActive="active">Įrašymas</a>
    <a class="nav-item nav-link" routerLink="/test" routerLinkActive="active">Testas</a> -->
  </div>
  <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" routerLink="/final" routerLinkActive="active">Pabaiga</a>
    <a class="nav-item nav-link" routerLink="/logout" routerLinkActive="active">Atsijungti</a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!-- Footer 
<div class="text-center">
  <p>
    Darbo Interviu
  </p>
</div>
-->
