<h3>Naudojimosi sąlygos</h3>
<br>
<h5><b>Sąvokų apibrėžimai</b></h5>
<p>Naudotojas – fizinis arba juridinis asmuo, priėmęs šias sąlygas, susikūręs vartotojo paskyrą ar prisijungęs prie svetainės. </p>
<p>Darbdavys – fizinis arba juridinis asmuo, priėmęs šias sąlygas, besinaudojantis DarboInterviu.lt svetaine darbuotojų atrankai savo pačių ar savo klientų reikmėms.</p>
<p>Kandidates – fizinis asmuo, priėmęs šias sąlygas, besinaudojantis DarboInterviu.lt svetaine interviu įrašymo tikslais. </p>

<h5><b>Sąlygos</b></h5>
<p>Naudodami šią svetainę, jūs sutinkate su šiomis naudojimo sąlygomis ir esate atsakingas už bet kokių taikomų vietos
    įstatymų laikymąsi. Jei jūs nesutinkate su bet kuriom iš šių sąlygų, jums draudžiama naudoti šią svetainę.</p>

<h5><b>Kandidato duomenys</b></h5>
<p>DarboInterviu.lt įrašo ir saugo Kandidato interviu.
    Kandiadto interviu įrašas yra DarboInterviu.lt nuosavybė.
    Kandidatas sutinka kad jo duomenys ir interviu įrašai būtų perduoti Darbdaviams.
</p>

<h5><b>Darbdavių priėjimas prie Kandidato duomenų</b></h5>
<p>DarboInterviu.lt teikia Darbdaviams Kandidatų intervių įrašų saugojimo ir priėjimo infrastruktūrą.
    Darbdavys turi teisę naudoti intervių duomenys tik samdymo tikslais.
</p>

<h5><b>Atsakomybės</b></h5>
<p>DarboInterviu.lt nėra atsakingi už bet kokią žalą, įskaitant nesugebėjimo įsidarbinti, galimo darbo užmokesčio, duomenų ar pelno praradimo, 
    atsiradusio dėl naudojimo ar negalėjimo naudoti DarboInterviu.lt tinklalapį.</p>

<h5><b>Autorių teisės ir kita intelektinė nuosavybė</b></h5>
<p>Naudotojas neatlygintinai perleidžia DarboInterviu.lt svetainei visas turtines teises į bet kokius duomenis, dokumentus ar kitus kūrinius, kuriuos jis ar ji įvedė ar įrašė į Internetinę svetainę. 
    Naudotojas garantuoja, kad įvesdamas duomenis ar išsaugodamas vaizdo/garso įrašą į Internetinę svetainę nepažeidžia jokios trečiosios šalies autorių teisių.</p>

<h5><b>Elektroninis paštas</b></h5>
<p> 
    DarboInterviu.lt nėra atsakinga už žalą patirtą dėl įvykių susijusių su elektroninių laiškų filtravimo sistemų veiksmais, ištrinimu ar nepristatymu.
</p>
