<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-item nav-link" routerLink="/interviewtemplate" routerLinkActive="active">Templates</a>
    <a class="nav-item nav-link" routerLink="/interview" routerLinkActive="active">Interviews</a>    
    <a class="nav-item nav-link" routerLink="/videos" routerLinkActive="active"> Videos</a>  
  </div>
  <div class="navbar-nav ml-auto">
    <a class="nav-item nav-link" routerLink="/logout" routerLinkActive="active">Logout</a>
  </div>
</nav>

<!-- main app container -->

<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
</div>

<!-- Footer 
<footer class="footer">
<div class="text-center">
    <p>
      Darbo Interviu
    </p>
</div>
</footer>
-->

